.Settings__container {
    position: fixed;
    top: 20%;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px 10px;
    background-color: #f1f1f1;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 300px;
    overflow: auto;

    h2 {
        font-size: 18px;
        color: #333;
        margin-bottom: 10px;
        text-align:left;
    }

    label {
        font-size: 14px;
        color: #333;
        margin-bottom: 4px;
        display: inline-block;
        font-weight: 500;
        text-align: left;
        margin-right: 30px;
    }

    input {
        padding: 8px 10px;
        border-radius: 5px;
        outline: none;
        transition: border-color 0.2s, box-shadow 0.2s;
        font-size: 14px;
        background-color: transparent;
        color: #333;
        display:inline-block;
        border: none;
        width: 70%;
        &[type="color"] {
           /*  padding: 0; */
            width: 30px;
            height: 30px;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            display: inline-block;
            margin-left:0;
            background-color: #fff;
        }
        &[type="color"] + label {
            margin-right: 0;
            margin-left: 40px;
        }

        &:focus {
            border-color: #007BFF;
        }

        &:hover {
            border-color: #888;
        }
    }

    /* Style for the select dropdown */
    select {
        padding: 8px 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        background-color: #f9f9f9;
        font-size: 14px;
        color: #333;
        outline: none;
        transition: border-color 0.2s, box-shadow 0.2s;

        &:focus {
            border-color: #007BFF;
            box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
        }

        &:hover {
            border-color: #888;
        }
    }
}
